<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQc_SPPFTyTAAkbdVnSq52NNToMeC_8to</string>
	<key>GCM_SENDER_ID</key>
	<string>1095922790547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rodadev.com.iCalm</string>
	<key>PROJECT_ID</key>
	<string>icalm-69461</string>
	<key>STORAGE_BUCKET</key>
	<string>icalm-69461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095922790547:ios:08d6c3a72cbd44b30bdd66</string>
</dict>
</plist>